# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

aquecimento_global = pd.Series(anomalias_termicas)
aquecimento_global

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
aquecimento_global_com_indice = pd.Series(anomalias_termicas, index=anos)
aquecimento_global_com_indice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
aquecimento_global_from_dict = pd.Series(dic_temperaturas)
aquecimento_global_from_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [32]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)
df

             0           1           2
0    91.276631  104.281250   93.864220
1   110.493203  104.522396   87.306883
2    95.199810   90.492292  100.177812
3   110.342385  104.829842   83.978247
4   117.136232   95.719197   97.031042
5   107.331357  107.923051   87.927411
6    94.799077  104.948568  108.984591
7   104.727962   91.387054   96.521088
8   100.762617   86.419414   88.388319
9   110.481731   98.235817   83.259816
10   90.437873   96.578536   73.910850
11   97.136677  112.029175  112.079236
12  106.858877   94.963553  104.810724
13   98.917244  104.554519  108.294935
14  100.453771  102.599605   87.255685
15  130.602306  100.959367  101.528712
16  103.261664   95.092771  104.426837
17  108.073837  103.618071   96.576826
18   99.625902  107.703285  106.844286
19   90.928389   97.052040   93.002908

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [34]:
#seu código aqui
df_ajeitado = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])
df_ajeitado

            x1          x2          x3
1    91.276631  104.281250   93.864220
2   110.493203  104.522396   87.306883
3    95.199810   90.492292  100.177812
4   110.342385  104.829842   83.978247
5   117.136232   95.719197   97.031042
6   107.331357  107.923051   87.927411
7    94.799077  104.948568  108.984591
8   104.727962   91.387054   96.521088
9   100.762617   86.419414   88.388319
10  110.481731   98.235817   83.259816
11   90.437873   96.578536   73.910850
12   97.136677  112.029175  112.079236
13  106.858877   94.963553  104.810724
14   98.917244  104.554519  108.294935
15  100.453771  102.599605   87.255685
16  130.602306  100.959367  101.528712
17  103.261664   95.092771  104.426837
18  108.073837  103.618071   96.576826
19   99.625902  107.703285  106.844286
20   90.928389   97.052040   93.002908

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [35]:
# seu código aqui

df_ajeitado['media'] = df_ajeitado.mean(axis=1, skipna=True, numeric_only=True)
df_ajeitado

            x1          x2          x3       media
1    91.276631  104.281250   93.864220   96.474034
2   110.493203  104.522396   87.306883  100.774161
3    95.199810   90.492292  100.177812   95.289971
4   110.342385  104.829842   83.978247   99.716825
5   117.136232   95.719197   97.031042  103.295490
6   107.331357  107.923051   87.927411  101.060606
7    94.799077  104.948568  108.984591  102.910745
8   104.727962   91.387054   96.521088   97.545368
9   100.762617   86.419414   88.388319   91.856783
10  110.481731   98.235817   83.259816   97.325788
11   90.437873   96.578536   73.910850   86.975753
12   97.136677  112.029175  112.079236  107.081696
13  106.858877   94.963553  104.810724  102.211051
14   98.917244  104.554519  108.294935  103.922233
15  100.453771  102.599605   87.255685   96.769687
16  130.602306  100.959367  101.528712  111.030128
17  103.261664   95.092771  104.426837  100.927091
18  108.073837  103.618071   96.576826  102.756245
19   99.625902  107.703285  106.844286  104.724491
20   90.928389   97.052040   93.002908   93.661113

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [37]:
# seu código aqui
df_ajeitado['log_med'] = np.log(df_ajeitado['media'])
df_ajeitado

            x1          x2          x3       media   log_med
1    91.276631  104.281250   93.864220   96.474034  4.569274
2   110.493203  104.522396   87.306883  100.774161  4.612882
3    95.199810   90.492292  100.177812   95.289971  4.556925
4   110.342385  104.829842   83.978247   99.716825  4.602334
5   117.136232   95.719197   97.031042  103.295490  4.637594
6   107.331357  107.923051   87.927411  101.060606  4.615720
7    94.799077  104.948568  108.984591  102.910745  4.633862
8   104.727962   91.387054   96.521088   97.545368  4.580318
9   100.762617   86.419414   88.388319   91.856783  4.520231
10  110.481731   98.235817   83.259816   97.325788  4.578064
11   90.437873   96.578536   73.910850   86.975753  4.465629
12   97.136677  112.029175  112.079236  107.081696  4.673592
13  106.858877   94.963553  104.810724  102.211051  4.627040
14   98.917244  104.554519  108.294935  103.922233  4.643643
15  100.453771  102.599605   87.255685   96.769687  4.572334
16  130.602306  100.959367  101.528712  111.030128  4.709802
17  103.261664   95.092771  104.426837  100.927091  4.614398
18  108.073837  103.618071   96.576826  102.756245  4.632360
19   99.625902  107.703285  106.844286  104.724491  4.651333
20   90.928389   97.052040   93.002908   93.661113  4.539683